@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v10/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
  text-rendering: optimizeLegibility;
}

$fip-pink: rgb(255,53,101);
$fip-pinka: rgba(255,53,101, .5);
$font-gray: rgb(50,50,50);

$fip-blue: rgb(33,76,122);

@import 'basics/reset';

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -ms-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

// general

%txt-input {
  width: 100%;
  border: solid 2px $fip-blue;
  border-top: none;
  padding: .25rem .5rem;
  font-size: 1rem;
  margin-top: 0;
  color: $font-gray;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

small {
  font-size: .75em;
  display: block;
  margin-top: 1rem;
  padding-top: 1em;
  padding-left: 2em;
  border-left: solid 5px rgb(240,240,240);
}

.tip-txt {
  color: $font-gray;
  margin: .25rem auto;
  display: block;
  width: 90%;
  max-width: 40em;
  font-size: 1.2rem;
  text-align: center;
  clear: both;
}

// header

.top {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(-30deg, rgb(36,79,124), rgb(99,159,171), rgb(151,219,200),  rgb(239,249,237));
}

.logo {
  img {
    width: 80vw;
    transition: all 200ms linear;

    @media (min-width: 680px) {
      width: 40vw;
    }
  }
}

.date-place {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.social {
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: -1.5rem;
  overflow: hidden;
  -moz-transform: translateX(-50%);

  ul {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  li {
    display: inline-block;
  }

  svg {
    height: 2rem;
  }

  &__item {
    -ms-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    transform: skew(-15deg);
    background-color: #ccc;
    transition: all 300ms ease-in-out;

    a {
      padding: .5rem 2rem;
      display: inline-block;
      -ms-transform: skew(15deg);
      -moz-transform: skew(15deg);
      transform: skew(15deg);
    }

    &.twitter {
      background-color: rgb(0,172,237);
    }

    &.facebook {
      background-color: rgb(59,89,152);
    }

    &:focus,
    &:hover {
      -ms-transform: skew(-15deg) translateY(-2px);
      -moz-transform: skew(-15deg) translateY(-2px);
      transform: skew(-15deg) translateY(-2px);
    }
  }
}

// subjects

.subject {
  padding-top: 5rem;
}
.subject__list {
  margin: 2.5rem auto;
  text-align: center;

  li {
    display: inline-block;
    padding: .25rem .5rem;
    margin: .5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    color: $fip-blue;
    background-color: rgb(240,240,240);
    transition: all 250ms linear;

    &:hover,
    &:active {
      opacity: .8;
    }
  }
}

// cfp
.proposal {
  margin-top: 5rem;
}

.cfp-form {
  margin: 2rem auto 0;
  width: 90%;
  max-width: 960px;
}

.input__label {
  margin-top: 3rem;
  display: block;
  background-color: $fip-blue;
  color: rgb(240,240,240);
  padding: .25rem .5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.short-input {
  @extend %txt-input;
}

.area-input {
  @extend %txt-input;
  line-height: 1.2;
  height: 1.2 * 5em;
  resize: vertical;
}

.radio-input {
  margin-top: .5rem;

  li {
    margin-bottom: .25rem;
  }
}

.cfp-submit {
  float: right;
  clear: both;
  margin: 3rem auto;
  color: rgb(240,240,240);
  background-color: $fip-blue;
  border: 0;
  font-size: 1.5rem;
  text-align: right;
  padding: 2rem 4rem;
  cursor: pointer;
}
// selection process
.selection {
  clear: both;
  color: $font-gray;
  padding-top: 2.5rem;

  ol {
    width: 80%;
    margin: 0 auto;
    list-style-position: outside;
    list-style-type: decimal;

    li {
      font-size: 1.2rem;
      margin: 2rem 0;
    }

    ul {
      margin-top: 1.5rem;
      list-style: square;

      li {
        margin: .5rem 1.5rem;
        font-size: .8em;
      }
    }

    @media (min-width: 600px) {
      width: 60%;
    }
  }
}

.list-title {
  font-weight: bold;
}
.section-title {
  font-size: 2rem;
  padding-left: 10vw;
  margin: .5rem 0;
  font-weight: bold;

  &::after {
    content: "";
    position: relative;
    top: .25rem;
    display: inline-block;
    margin-left: 1rem;
    height: 2rem;
    width: .5rem;
    background-color: $fip-pink; // pink
    -ms-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);
  }
}


// bottom

.bottom {
  margin-top: 5rem;
  width: 80vw;
  overflow: hidden;
}

.code-conduct {
  float: right;
  height: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0;
  border-top: solid 10px $fip-pink;
  color: $font-gray;
  transition: all 250ms ease-out;

  &:hover,
  &:focus {
    opacity: .7;
  }
}
