.header {
  padding: rem(15px);
  min-height: rem(680px);
  background: url(../images/header.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
}
.logo-link {
  display: block;
  width: rem(320px);
  height: rem(170px);
  margin: rem(60px) auto;
  @extend %hide-text;
  background: url(../images/front-in-poa.svg) no-repeat;
  background-size: contain;
}
.event-head {
  margin: 0;
  color: $blue;
  font-size: rem(34px);
  font-weight: 200;
}
.event-slogan {
  margin: rem(18px) 0;
  font: 800 rem(60px)/#{rem(64px)} $main-font;
  color: white;
  letter-spacing: rem(-3px);
  text-transform: uppercase;
}
.call-action-link {
  @include button;
  margin-top: rem(18px);
  font-size: rem(33px);
}

.collaborate {
  @include texture("blue");
  overflow: hidden;
  p {
    text-align: left;
  }
}
.collaborate-item {
  width: 50%;
  float: left;
  color: white;
  text-align: center;
  padding: rem(50px) 50px;
  &:first-child {
    padding-right: 90px;
  }
  &:last-child {
    padding-left: 90px;
  }
}
.collaborate-title {
  margin: 0;
  font-size: rem(44px);
  font-weight: 100;
  letter-spacing: rem(-3px);
  text-transform: uppercase;
  strong {
    display: block;
  }
}
.collaborate-link {
  @include button;
  margin: rem(14px) 0 0;
}
