.section {
  padding: rem(50px) 0;
}

.section-title {
  font-size: rem(44px);
  color: $blue;
  letter-spacing: rem(-3px);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-bottom: rem(10px);
  span {
    font-weight: 100;
    display: block;
    color: $dark-grey;
  }
  position: relative;
  @include inverse-bottom-line(40%);
}

@import "section_collaborate";
@import "section_speakers";
@import "section_location";
@import "section_organizers";
@import "section_sponsors";
