.section {
  padding: rem(30px) 0;
  @media screen and (min-width:$minor-viewport) {
    padding: rem(50px) 0;
  }
}

.section-title {
  font-size: rem(28px);
  color: $blue;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-bottom: rem(10px);
  span {
    font-weight: 100;
    color: $dark-grey;
  }
  position: relative;
  @include inverse-bottom-line(80%);
  @media screen and (min-width:$minor-viewport) {
    font-size: rem(44px);
    letter-spacing: rem(-3px);
    span {
      display: block;
    }
    @include inverse-bottom-line(40%);
  }
}

@import "section_collaborate";
@import "section_about";
@import "section_speakers";
@import "section_location";
@import "section_organizers";
@import "section_sponsors";
