// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: rem(18px) $main-font;
}

.wrapper {
  max-width: 940px;
  padding: 0 25px;
  margin: 0 auto;
}
