.footer {
  background: $pink;
  font-size: rem(14px);
  color: white;
  position: relative;
}

.credits {
  padding: rem(40px) 0;
  a {
    color: rgba(white, .7);
  }
}

.logo-footer {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  span {
    color: #fff;
    position: absolute;
    display: block;
    width: 200px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 6px;
  }

  img {
    width: 200px;
  }
}
