.section-presenter {
  color: white;
  .section-title {
    margin-bottom: rem(40px);
    color: white;
    font-size: rem(22px);
    @media screen and (min-width:$minor-viewport) {
      font-size: rem(30px);
      letter-spacing: rem(-1px);
    }
  }
  a {
    color: $dark-blue;
  }
  @media screen and (min-width:$minor-viewport) {
    padding: rem(50px) 0;
  }
}

.presenter-profile {
  text-align: center;
  @media screen and (min-width:$minor-viewport) {
    width: percentage(240px/$site-width);
    margin: 0 percentage(30px/$site-width);
    display: inline-block;
  }
}
.presenter-photo {
  width: 20%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  @media screen and (min-width:$minor-viewport) {
    width: 50%;
  }
}
.presenter-name {
  margin-top: rem(10px);
  font-weight: 800;
}

.presenter-bio {
  @media screen and (min-width:$minor-viewport) {
    width: percentage(640px/$site-width);
    display: inline-block;
    vertical-align: top;
  }
}
