@function rem($px, $base: 16px) {
  @return ($px / $base) * 1rem;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%triangle {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  right: 0;
  height: 0;
  border: 0;
}
