---
import Layout from "../layouts/Layout.astro";
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import About from '../components/About.astro';
import Speakers from '../components/Speakers.astro';
import Schedule from '../components/Schedule.astro';
import Footer from '../components/Footer.astro';
import Location from '../components/Location.astro';
import Supporters from '../components/Supporters.astro';

const speakers = [
  {
    name: 'Erick Wendel',
    img: '/images/speakers/erick-wendel.jpg',
    user: '@erickwendel_',
    link: 'https://twitter.com/erickwendel_',
    bio: 'Erick Wendel é um palestrante profissional e tem se apresentado em mais de 10 países pelo mundo. Foi premiado com os Google Developer Expert, Microsoft MVP, GitHub Stars e OpenJS Path Educator, os maiores prêmios em área de software do mundo. Hoje Erick vive como instrutor em treinamentos online em sua própria empresa além de trabalhar como core commiter no projeto Node.js'
  },
  {
    name: 'Marco Antônio Santos da Silva',
    img: '/images/speakers/marco-silva.jpeg',
    user: '@marsc98',
    link: 'https://github.com/marsc98',
    bio: 'Estudante de Engenharia de Computação na Universidade Estadual do Rio Grande do Sul (UERGS), engajado em movimentos culturais com foco na cultura preta e de rua, além de ser uma pessoa desenvolvedora na On2 buscando sempre a inovação, o cultivo de ideias e a troca de conhecimentos.'
  },
  // {
  //   name: 'Robson Júnior',
  //   img: '/images/speakers/robson-junior.jpeg',
  //   user: '@robsongajunior',
  //   link: 'https://github.com/robsongajunior',
  //   bio: 'Robson Júnior atua como Senior Software Engineer na empresa Azion Technologies no time UX Engineering. Passou também pelos times: Experience Engineering, Marketing Engineering,  Core Services e anteriormente focado em aplicaçao RUM (Real User Monitoring/Measuring) pelo time de Routing Services. Possui também histórico na empresa Terra Networks no time de Tecnologia em Porto Alegre. Lá passou por experiências nos times de: SVA, Tecnologia Portal, Entertenimento e Tecnologia de E-mail. Como último passo, teve a oportunidade fazer parte da criação do primeiro time Full Dev-Ops.'
  // }
];
---

<Layout title="Front In Poa | 2023">
  <main>
    <Hero />
    <Navigation />
    <About />
    <Speakers speakers={speakers} />
    <Schedule />
    <Location />
    <Supporters />
    <Footer />
  </main>
  <script is:inline src="/scripts/main.js"></script>
</Layout>

<style lang="scss">
  
</style>