---
import Layout from "../layouts/Layout.astro";
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import About from '../components/About.astro';
import Speakers from '../components/Speakers.astro';
import Schedule from '../components/Schedule.astro';
import Footer from '../components/Footer.astro';
import Location from '../components/Location.astro';
import Supporters from '../components/Supporters.astro';
---

<Layout title="Front In Poa 2023">
  <main>
    <Hero />
    <Navigation />
    <About />
    <Speakers />
    <Schedule />
    <Location />
    <Supporters />
    <Footer />
  </main>
  <script is:inline src="/scripts/main.js"></script>
</Layout>

<style lang="scss">
  
</style>