.section {
  padding: rem(30px) 0;
  @media screen and (min-width:$minor-viewport) {
    padding: rem(70px) 0 rem(50px);
  }
}

.section-title {
  font-size: rem(28px);
  text-align: center;
  margin-top: 0;
  padding-bottom: rem(10px);
  font-weight: 100;
  position: relative;

  @media screen and (min-width:$minor-viewport) {
    font-size: rem(70px);
    letter-spacing: rem(-3px);
  }
}

.section-title-highlight {
  font-weight: 700;
}

// @import "section_collaborate";
// @import "section_about";
// @import "section_speakers";
// @import "section_specialists";
// @import "section_presenter";
// @import "section_schedule";
// @import "section_location";
// @import "section_organizers";
// @import "section_sponsors";
