.header {
  width: 100%;
  height: 100vw;

  background: url(../images/header.jpg) bottom left;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/header-building.png) bottom left;
    background-size: cover;
    z-index: 1;
  }

  @media screen and (min-width: $medium-viewport) {
    height: 100vh;
    background-attachment: fixed;
    &:before {
      background-attachment: fixed;
    }
  }
}
.logo {
  margin: 0;
  background: url(../images/front-in-poa.svg) bottom left;
  background-size: cover;
  font: 0/0 a;

  position: absolute;
  top: -48vw;
  bottom: -12vw;
  left: -30vw;
  right: -30vw;

  @media screen and (min-width: $medium-viewport) {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.event-info {
  display: inline-block;
  text-align: center;
  position: absolute;
  font-size: rem(18px);
  bottom: 5vw;
  left: 0;
  right: 0;
  z-index: 2;
  @media screen and (min-width: $minor-viewport) {
    font-size: rem(24px);
  }
  @media screen and (min-width: $medium-viewport) {
    bottom: 0;
    top: 65vh;
    left: 80vh;
    right: auto;
  }
  @media screen and (min-width: $large-viewport) {
    font-size: rem(34px);
    top: auto;
    bottom: 14vw;
    left: 55vw;
    right: auto;
  }
}
.event-head {
  color: white;
  margin: .5em 0;
  font-weight: 700;
}
.event-head-place {
  font-weight: 100;
  text-transform: uppercase;
}
.header-call-action-link {
  display: none;

  @media screen and (min-width: $medium-viewport) {
    display: block;
  }
}
