.nav {
  display: none;
  background: white;
  z-index: 2;
  top: 0;
  width: 100%;
  @media screen and (min-width:$minor-viewport) {
    position: fixed;
    left: 0;
  }
}
.nav-items {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline-block;
  margin: 0 rem(16px);
}
.nav-link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey;
  &.active {
    box-shadow: inset 0 $marker-size 0 $red;
  }
}
