.schedule-list {
  list-style: none;
  padding: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border: 1px solid $grey;
  }
}
.schedule-item {
  position: relative;
  min-height: rem(120px);
}
.schedule-slot {
  @include clearfix;
}

.schedule-time {
  display: block;
  font-size: rem(30px);
  line-height: rem(36px);
  padding: rem(12px) 0;
  width: rem(116px);
  margin: 0 auto rem(-48px) auto;
  text-align: center;
  font-weight: 700;
  color: $pink;
  background: white;
  position: relative;
  // dot
  &:before {
    content: '•';
    font-size: 50%;
    color: $light-grey;
    position: absolute;
    top: rem(12px);
    left: 0;
    .schedule-item:nth-child(even) & {
      right: 0;
      left: auto;
    }
  }
}
.schedule-activity {
  font-size: rem(30px);
  line-height: rem(36px);
  font-weight: 700;
}
.schedule-speaker {
  font-size: rem(20px);
  line-height: rem(32px);
  display: block;
  font-weight: 700;
  margin-top: rem(-32px);
}

.schedule-slot,
.schedule-description {
  width: 50%;
  padding: 0 rem(70px);
  text-align: right;

  .schedule-item:nth-child(even) & {
    text-align: left;
    margin-left: 50%;
  }
}
.schedule-item:first-child,
.schedule-item:last-child {
  .schedule-time:before {
    display: none;
  }
  .schedule-slot {
    width: auto;
    text-align: center;
    background: white;
  }
}

.schedule-item:first-child .schedule-time {
  padding-top: 0;
  margin-bottom: rem(70px);
}
.schedule-item:last-child {
  min-height: 0;
  .schedule-time {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
