.section-sponsors {
  background-color: $pink;

  .section-title {
    color: #fff;
  }
}

.sponsors-list, .partners-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sponsors-list {
  margin-bottom: rem(30px);
  @media screen and (min-width:$minor-viewport) {
    margin-bottom: rem(50px);
  }
}
.sponsor-item, .partner-item {
  position: relative;
  width: 20%;
  padding: .5rem;
  margin: 2rem .5%;
  min-width: rem(150px);
  display: inline-block;
  background-color: #000;
}
.partner-item {
  width: 15%;
  min-width: rem(100px);
}
.sponsor-logo, .partner-logo {
  display: block;
  width: 100%;
}

%down-triangle {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: solid 40px #000;
  border-right: 0;
  border-bottom: 0;
  border-left: solid 6rem transparent;
}

%up-triangle {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-right: solid 6rem transparent;
  border-bottom: solid 40px #000;
  border-left: 0;
}

.sponsor-item:nth-child(odd) {
  &::after {
    @extend %down-triangle;
    border-left: solid 9rem transparent
  }
}
.sponsor-item:nth-child(even) {
  &::after {
    @extend %up-triangle;
    border-right: solid 9rem transparent;
  }
}
.partner-item:nth-child(odd) {
  &::after {
    @extend %down-triangle;
  }
}
.partner-item:nth-child(even) {
  &::after {
    @extend %up-triangle;
  }
}
