.organizer-item {
  width: 20%;
  &:last-child {
    margin-top: 8em;
  }
}
.organizer-name {
  font-size: rem(18px);
  margin-bottom: 0;
}
.organizer-twitter {
  font-size: rem(16px);
  font-weight: 400;
  margin: 0;
}
