.section-sponsors {
  background-color: $pink;

  .section-title {
    color: #fff;
  }
}

.sponsors-list, .partners-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sponsors-list {
  margin-bottom: rem(30px);
  @media screen and (min-width:$minor-viewport) {
    margin-bottom: rem(50px);
  }
}
.sponsor-item, .partner-item {
  position: relative;
  width: 9rem;
  padding: .5rem;
  margin: 2rem .5%;
  min-width: rem(150px);
  display: inline-block;
  background-color: $overlay-dark;
}
.partner-item {
  width: 6rem;
  min-width: rem(100px);
}
.sponsor-logo, .partner-logo {
  display: block;
  width: 100%;
}

.sponsor-item:nth-child(odd) {
  &::after {
    @extend %down-triangle;
    border-left: solid 9.25rem transparent;
  }
}
.sponsor-item:nth-child(even) {
  &::after {
    @extend %up-triangle;
    border-right: solid 9.25rem transparent;
  }
}
.partner-item:nth-child(odd) {
  &::after {
    @extend %down-triangle;
  }
}
.partner-item:nth-child(even) {
  &::after {
    @extend %up-triangle;
  }
}
