.organizer-item {
  width: 20%;
  $gap-top: 4em;
  margin: $gap-top 1.5em 0;

  &:last-child {
    margin-top: $gap-top + 8em;
  }
}
.organizer-name {
  font-size: rem(18px);
  margin-bottom: 0;
}
.organizer-twitter {
  font-size: rem(16px);
  font-weight: 400;
  margin: 0;
}
