//---------- TYPOGRAPHY ----------//
//--------------------------------//
@mixin font($f) {

    @if ($f == "lato-black") {
    font-family: 'LatoBlack', sans-serif;

  } @else if ($f == "cooper-thin") {
    font-family: 'CooperHewitt Thin', sans-serif;
  }
}


//---------- COLOR SCHEME ----------//
//----------------------------------//

$FIP: rgb(255,53,101);
$FACEBOOK: rgb(59,89,152);
$TWITTER: rgb(0,172,237);
$INFO: rgb(255,255,255);

$FIP80: rgba(255,53,101, .80);
$FACEBOOK80: rgba(59,89,152, .80);
$TWITTER80: rgba(0,172,237, .80);
$INFO80: rgba(255,255,255, .80);




//---------- RESPONSIVE BREAKPOINTS ----------//
//--------------------------------------------//

$VIP:     "only screen and (min-width : 1920px)";
$PREMIUM:   "only screen and (min-width : 1680px)";
$STANDARD:  "only screen and (min-width : 1366px)";
$COMPACT:   "only screen and (max-width : 1280px)";
$TABLET:  "only screen and (max-width : 1024px)";
