@function rem($px, $base: 16px) {
  @return ($px / $base) * 1rem;
}

%hide-text {
  font: 0/0 auto;
}

%grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: #{"grayscale(100%)"}; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

// textures
@mixin texture($color) {
  background: url("../images/texture-#{$color}.jpg") center center;
  background-size: 200px 200px;
  background-attachment: fixed;
}

// Buttons
@mixin button {
  display: inline-block;
  font: 800 rem(23px)/#{2.3} $main-font;
  padding-left: rem(20px);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  @include texture("red");
  &:after {
    border-left: 1px solid rgba(black, .18);
    box-shadow: -1px 0 0 rgba(white, .1);
    display: inline-block;
    margin-left: rem(20px);
    padding: 0 rem(20px);
    content: '>';
    font-weight: 200;
  }
  transition: box-shadow .1s ease-out;
  &:hover {
    box-shadow: 0 .1em .2em rgba(black, .2);
  }
  &:active {
    box-shadow: inset 0 .1em .2em rgba(black, .5);
  }
}

// Gradients
@mixin radial-gradient($pos, $color1, $color2) {
  background: -webkit-radial-gradient($pos, ellipse farthest-side, $color1, $color2);
  background: radial-gradient(farthest-side at $pos, $color1, $color2);
}

// Lines
@import "helpers_lines";
