@import "bourbon/bourbon";
@import "basics/reset";
@import "basics/fonts";
@import "basics/mixins";

body {
  background: #85d8ce;
  font-size: 16px;
  line-height: 26px;
  color: #FFF;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  @include font($f: "cooper-book");
  @include box-sizing(border-box);
}

*, *::before, *::after { @include box-sizing(inherit); }

@import "layout/teaser";
