---
const ingressURL = "https://www.sympla.com.br/evento/frontinpoa-2023/2208504";
const c4pURL = 'https://forms.gle/1ARUc7nHxkyXsdZ58';
---

<section class="section section-about" id="about">
    <div class="wrapper">
        <h2 class="section-title">
            Você não pode
            <br />
            perder o <span class="section-title-highlight">Front in POA!</span>
        </h2>
        <div class="about-text" itemprop="description">
            <p>
                O <strong>Front in POA</strong> é um evento de Front-End altamente conceituado no sul do Brasil,
                oferecendo <strong>acesso</strong> ao <strong>aprendizado</strong>, a <strong>inspiração</strong> e o <strong>networking</strong>,
                tornando-se uma <strong>experiência valiosa</strong> para qualquer <strong>pessoa interessada</strong> no <strong>desenvolvimento</strong> de interfaces web e móveis.
            </p>
            <p>
                Portanto, <strong>não perca a chance</strong> de participar e se beneficiar desse <strong>encontro dinâmico e enriquecedor</strong>.
            </p>
        </div>
    </div>
    <div class="section-about-tail">
        <a
            href={c4pURL}
            class="section-about-call-action-link call-action-link"
            target="_blank">
            <span class="call-action-text">
                <!-- Te inscreve -->
                Enviar Palestra
            </span>
        </a>
    </div>
</section>

<style lang="scss">
    @import "../styles/helpers";
    @import "../styles/settings";
    @import "../styles/core/normalize";
    @import "../styles/core/layout";
    @import "../styles/partials/_sections.scss";
    @import "../styles/partials/_section_about.scss";

    .about-text p {
        text-align: center;
    }
</style>