---
const ingressURL = "https://www.sympla.com.br/evento/frontinpoa-2023/2208504";
const c4pURL = 'https://forms.gle/1ARUc7nHxkyXsdZ58';
---

<section class="section section-about" id="about">
    <div class="wrapper">
        <h2 class="section-title">
            Você não pode
            <br />
             perder o <span class="section-title-highlight">Front in POA!</span>
        </h2>
        <div class="about-text" itemprop="description">
            <p></p>
        </div>
    </div>
    <div class="section-about-tail">
        <a
            href={c4pURL}
            class="section-about-call-action-link call-action-link"
            target="_blank">
            <span class="call-action-text">
                <!-- Te inscreve -->
                Enviar Palestra
            </span>
        </a>
    </div>
</section>
