---

---

<div class="footer">
    <div class="wrapper">
        <div class="credits">
            Built with <a href="https://astro.build/" target="_blank">Astro</a>,
            Layout by <a href="http://fguth.com" target="_blank">@fguth</a>.
            <br />
            <a
                href="https://braziljs.org/coc"
                title="Código de Conduta"
                class="nav-link">Código de Conduta</a>
            <!--
        <a href="http://nasc.io/" class="logo-footer">
          <img src="images/patros/nasc.png" alt="Nasc" />
        </a>
        -->
        </div>
    </div>
</div>

<style lang="scss">
@import "../styles/helpers";
@import "../styles/settings";
@import "../styles/core/normalize";
@import "../styles/core/layout";
@import "../styles/partials/footer";
</style>