---
import Countdown from "./Countdown.astro";
const ingressURL = 'https://www.sympla.com.br/evento/frontinpoa-2023/2208504';
const c4pURL = 'https://forms.gle/1ARUc7nHxkyXsdZ58';
const eventDate= 'december 02, 2023';
---

<header class="header">
    <div class="wrapper">
        <h1 class="logo">
            <a
                class="logo-link"
                href="https://www.frontinpoa.com.br/"
                title="Front In POA 2023"
                itemprop="name">
                
                Front in POA 2023
            </a>
        </h1>
        <div class="event-info">
            <p class="event-head">
                02 Dezembro
                <br />
                <span class="event-head-place">
                    Dom Bosco
                </span>
            </p>
            <a
                href={ingressURL}
                class="header-call-action-link call-action-link"
                target="_blank">

                <span class="call-action-text">
                    Te inscreve
                </span>
            </a>
            
            
            <div style="margin-top: 25px;">
                <a
                    href={c4pURL}
                    class="header-call-action-link call-action-link send-your-talk"
                    target="_blank">

                    <span class="call-action-text" style="line-height: 1em;">
                        C4P
                    </span>
                </a>
            </div>
           
        </div>
    </div>
    
    <Countdown eventDate={eventDate} />
</header>

<style lang="scss">
    @import "../styles/helpers";
    @import "../styles/settings";
    @import "../styles/core/normalize";
    @import "../styles/core/layout";
    @import "../styles/partials/_header.scss";
</style>
