---

---

<section class="section section-location" id="location">
    <div class="address-container">
        <h2 class="section-title">
            Local do
            <br />
            <span class="section-title-highlight">
                Front in POA
            </span>
        </h2>
        <div class="address">
            <div
                class="address-data"
                itemprop="address"
                itemtype="http://schema.org/PostalAddress">
                <span class="address-name" itemprop="name">
                    Faculdade Dom Bosco
                </span>
                <span itemprop="streetAddress">
                    Rua Mal. José Inácio da Silva, 355
                </span>
                <br />
                <span itemprop="addressLocality">
                    • Passo D'Areia • Porto Alegre
                </span>
                <span itemprop="addressRegion">
                    • RS
                </span>
                <br />
                <span itemprop="postalCode">
                    • 90520-280
                </span>
                <br />
                <a
                    class="address-link"
                    target="_blank"
                    href="https://www.google.com/maps/place/Don+Bosco+School+in+Porto+Alegre/@-30.0122737,-51.1848092,15.99z/data=!4m7!3m6!1s0x95197762900397a9:0xdf8886a358bebab4!8m2!3d-30.0120424!4d-51.1791948!15sCglkb20gYm9zY2-SAQdjb2xsZWdl4AEA!16s%2Fg%2F1tfznhrt?hl=en&entry=tts">
                    Ver no mapa
                </a>
            </div>
            <svg
                class="address-background"
                width="100%"
                viewBox="0 0 480 250"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <g
                    id="Page-1"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                    sketch:type="MSPage">
                    <g id="Artboard-1" sketch:type="MSArtboardGroup">
                        <path
                            d="M1.3125,0.0313683712 L480,1.4703924 L480,250 L181.078125,210 L1.3125,0.0313683712 Z"
                            id="Path-1"
                            fill="#FFFFFF"
                            sketch:type="MSShapeGroup"></path>
                        <path
                            d="M-0.02734375,0.46875 L101.054688,42.0507812 L181.476562,210 L-0.02734375,0.46875 Z"
                            id="Path-2"
                            fill="#FF3565"
                            sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div
        class="address-map"
        data-address="Rua Mal. José Inácio da Silva, 355 | Bairro Passo D'Areia | Porto Alegre">
    </div>
</section>

<style lang="scss">
    @import "../styles/helpers";
    @import "../styles/settings";
    @import "../styles/core/normalize";
    @import "../styles/core/layout";
    @import "../styles/partials/_section_location.scss";
</style>