---

---
<section class="section section-organizers" id="organizers">
    <div class="wrapper">
        <h2 class="section-title">
            Curadores do<br />
            <span class="section-title-highlight">Front in POA</span>
        </h2>
        <ul class="organizers-list speakers-list">
            <li
                class="organizer-item speaker-item"
                itemprop="performer"
                itemscope=""
                itemtype="http://schema.org/Person"
            >
                <div class="speaker-photo-container">
                    <img
                        class="speaker-photo"
                        src="images/felipe.png"
                        alt="Felipe N. Moura"
                        itemprop="image"
                    />
                </div>
                <div class="speaker-info">
                    <h3 class="organizer-name speaker-name">Felipe N. Moura</h3>
                    <a
                        href="http://twitter.com/felipenmoura"
                        class="organizer-twitter speaker-twitter"
                        target="_blank">@felipenmoura</a
                    >
                </div>
            </li>
            <li
                class="organizer-item speaker-item"
                itemprop="performer"
                itemscope=""
                itemtype="http://schema.org/Person"
            >
                <div class="speaker-photo-container">
                    <img
                        class="speaker-photo"
                        src="images/jaydson.jpeg"
                        alt="Jaydson Gomes"
                        itemprop="image"
                    />
                </div>
                <div class="speaker-info">
                    <h3 class="organizer-name speaker-name">Jaydson Gomes</h3>
                    <a
                        href="http://twitter.com/jaydson"
                        class="organizer-twitter speaker-twitter"
                        target="_blank">@jaydson</a
                    >
                </div>
            </li>
        </ul>
    </div>
</section>
