<section class="section section-schedule" id="schedule">
    <div class="wrapper">
        <h2 class="section-title section-title-highlight">Programação</h2>
        <p>
          Entre no <a href="https://discord.gg/S34PzD3gFS" title="Front In Poa 2023 | Azion Discord Server" target="_blank">Discord</a> da Azion para acompanhar e
          <br>
          ficar sabendo sobre os próximos palestrantes em primeira mão.
          <br>
          <a
            href="https://discord.gg/S34PzD3gFS"
            title="Front In Poa 2023 | Azion Discord Server"
            class="section-about-call-action-link call-action-link"
            target="_blank"
            data-astro-cid-v2cbyr3p="">
            <span class="call-action-text" data-astro-cid-v2cbyr3p="">
              Discord
            </span>
          </a>
        </p>

        <ul class="schedule-list">
          <li id="schedule-credenciamento" class="schedule-item schedule-item-other">
            <span class="schedule-time">09:00</span>
            <div class="schedule-slot">
              <div class="schedule-activity">Credenciamento</div>
            </div>
          </li>

          <li id="schedule-credenciamento" class="schedule-item schedule-item-other">
            <span class="schedule-time">10:00</span>
            <div class="schedule-slot">
              <div class="schedule-activity">Abertura</div>
            </div>
          </li>

          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">10:15</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Erik Wendell</span>
              <!--
              <div class="schedule-activity">
                title
              </div>
              -->
            </div>
            <!--
            <p class="schedule-description">
             description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">11:15</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Marco Silva</span>
              <div class="schedule-activity">
                Construindo uma plataforma VOD (streaming de vídeo) com Supabase, GraphQL, Panda e NextJS
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>

          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">11:45</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Sendo Definido</span>
              <div class="schedule-activity">
                <!-- Title -->
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">12:15</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Almoço</span>
              <div class="schedule-activity">
                <!-- Title -->
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">14:15</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Morgana Johann & Cícero Feijó</span>
              <div class="schedule-activity">
                Reconstruindo uma UI: Estratégias para acelerar o desenvolvimento de produto
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">14:45</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Robson Junior</span>
              <div class="schedule-activity">
                Move to the Edge: Construindo aplicações modernas escaláveis
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">15:15</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Coffee Break</span>
              <div class="schedule-activity">
                <!-- Aproveite o networking -->
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">15:45</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Sendo Confirmado</span>
              <div class="schedule-activity">
                <!-- Aproveite o networking -->
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">16:15</span>

            <div class="schedule-slot">
              <span class="schedule-speaker">Sendo Confirmado</span>
              <div class="schedule-activity">
                <!-- Aproveite o networking -->
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
          <li class="schedule-item schedule-item-speaker">
            <span class="schedule-time">16:15</span>

            <div class="schedule-slot">
              <!-- <span class="schedule-speaker">Sendo Confirmado</span> -->
              <div class="schedule-activity">
                Happy Hour
              </div>
            </div>
            <!--
            <p class="schedule-description">
              Description
            </p>
            -->
          </li>
        </ul>
    </div>
</section>
<style lang="scss">
  @import "../styles/helpers";
  @import "../styles/settings";
  @import "../styles/core/normalize";
  @import "../styles/core/layout";
  @import "../styles/partials/_sections.scss";
  @import "../styles/partials/_section_schedule.scss";

  .schedule-list {
    margin-top: 6rem;
  }

  p {
    text-align: center;

    .call-action-link {
      margin: 2rem 0 0;

      svg {
        position: relative;
        top: 12px;
        margin-right: .5rem;
      }
    }
  }
</style>
