<section class="section section-schedule" id="schedule">
    <div class="wrapper">
        <h2 class="section-title section-title-highlight">Programação</h2>
        <p>
          Entre no Discord da Azion para acompanhar e ficar sabendo sobre os próximos palestrantes em primeira mão.
          <br>
          <a
            href="https://discord.gg/S34PzD3gFS"
            title="Front In Poa 2023 | Azion Discord Server"
            class="section-about-call-action-link call-action-link"
            target="_blank"
            data-astro-cid-v2cbyr3p="">
            <span class="call-action-text" data-astro-cid-v2cbyr3p="">
              Acompanhar
            </span>
          </a>
        </p>
        <!-- <ul class="schedule-list">
            <li
                id="schedule-credenciamento"
                class="schedule-item schedule-item-other"
            >
                <span class="schedule-time">08:00</span>
                <div class="schedule-slot">
                    <div class="schedule-activity">Credenciamento</div>
                </div>
            </li>

            <li
                id="schedule-credenciamento"
                class="schedule-item schedule-item-other"
            >
                <span class="schedule-time">09:00</span>
                <div class="schedule-slot">
                    <div class="schedule-activity">Abertura</div>
                </div>
            </li> -->
            <!--
        <li class="schedule-item schedule-item-speaker">
          <span class="schedule-time">10:00</span>

          <div class="schedule-slot">
            <span class="schedule-speaker">Undefined</span>
            <div class="schedule-activity">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <p class="schedule-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit
            amet interdum odio. Maecenas tempus congue accumsan. Nullam nec
            orci malesuada, viverra dolor in, pulvinar dui. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Etiam sit amet interdum
            odio. Maecenas tempus congue accumsan. Nullam nec orci malesuada,
            viverra dolor in, pulvinar dui.
          </p>
        </li>
        
        <li class="schedule-item schedule-item-speaker">
          <span class="schedule-time">09:30</span>

          <div class="schedule-slot">
            <span class="schedule-speaker">Nathi Alves</span>
            <div class="schedule-activity">A importância do U de UX</div>
          </div>
          <p class="schedule-description">
            Por que a pesquisa é tão importante para o processo de design?
            Conhecer para quem nós estamos projetando e como essas pessoas
            irão utilizar os nossos produtos ou serviços é tão importante
            quanto desenhar uma nova tela.
          </p>
        </li>

        <li class="schedule-item schedule-item-speaker">
          <span class="schedule-time">10:00</span>
          <div class="schedule-slot">
            <span class="schedule-speaker">Felipe de Morais</span>
            <div class="schedule-activity">
              Vestindo a camisa da comunidade
            </div>
          </div>
          <p class="schedule-description">
            Vamos conversar sobre como me involver com a comunidade me fez
            aprender algumas lições que levo para a minha vida. Organizando o
            maior Django Girls da América Latina, o primeiro evento de
            empoderamento negro do país com AfroPython, abrir espaço para que
            pessoas com deficiência possam expor como vem contribuindo com o
            mundo e as dificuldades que enfrentam, contribuir para a Operação
            Serenata de Amor, o projeto de maior visibilidade utilizando dados
            públicos da atualidade e outras coisas mais.
          </p>
        </li>

        <li id="schedule-cafezinho" class="schedule-item schedule-item-other">
          <span class="schedule-time">10:30</span>
          <div class="schedule-slot">
            <div class="schedule-activity">Coffee</div>
          </div>
        </li>

        <li class="schedule-item schedule-item-speaker">
          <span class="schedule-time">11:00</span>
          <div class="schedule-slot">
            <span class="schedule-speaker">Aline Bastos</span>
            <div class="schedule-activity">
              CSS no JavaScript. Usar ou não usar? Eis a questão!
            </div>
          </div>
          <p class="schedule-description">
            Com o crescente uso de tecnologias como o React, ouvimos falar
            muito sobre o uso do CSS no JavaScript. Vamos juntos analisar as
            opções de uso de estilos dentro e fora do JavaScript.
          </p>
        </li>

        <li class="schedule-item schedule-item-speaker">
          <span class="schedule-time">11:30</span>
          <div class="schedule-slot">
            <span class="schedule-speaker"
              >Camilla Martins && Débora Duarte</span
            >
            <div class="schedule-activity">
              Construindo um site em 10min com vue.js
            </div>
          </div>
          <p class="schedule-description">
            Sim, é possível criar um site tão rapidamente com o vue.js. Vamos
            demonstrar a simplicidade deste framework com cada vez mais
            destaque no mercado do Javascript em exemplos práticos!
          </p>
        </li>

        <li class="schedule-item schedule-item-speaker">
          <span class="schedule-time">12:00</span>
          <div class="schedule-slot">
            <span class="schedule-speaker">Vanessa Tonini</span>
            <div class="schedule-activity">Desenvolvendo com Angular CLI</div>
          </div>
          <p class="schedule-description">
            A ferramenta de linha de comando do Angular pode se tornar sua
            poderosa aliada para desenvolvimento. Nesta palestra irei comparar
            como é o cenário sem e com o uso dela, demonstrar como ela
            funciona e facilita o dia a dia do desenvolvimento, e
            principalmente como pode ajudar na hora de publicar sua app.
          </p>
        </li>

        <li class="schedule-item schedule-item-speaker">
          <span class="schedule-time">12:30</span>
          <div class="schedule-slot">
            <span class="schedule-speaker">Cesar Paz</span>
            <div class="schedule-activity">A Era da Experiência</div>
          </div>
          <p class="schedule-description"></p>
        </li>

        <li
          id="schedule-credenciamento"
          class="schedule-item schedule-item-other"
        >
          <span class="schedule-time">13:00</span>
          <div class="schedule-slot">
            <div class="schedule-activity">Encerramento</div>
          </div>
        </li>
      -->
        </ul>
    </div>
</section>
<style lang="scss">
  @import "../styles/helpers";
  @import "../styles/settings";
  @import "../styles/core/normalize";
  @import "../styles/core/layout";
  @import "../styles/partials/_sections.scss";
  @import "../styles/partials/_section_schedule.scss";

  p {
    text-align: center;

    .call-action-link {
      margin: 2rem 0 0;

      svg {
        position: relative;
        top: 12px;
        margin-right: .5rem;
      }
    }
  }
</style>