---
---

<section class="section section-speakers" id="speakers">
    <div class="wrapper">
        <h2 class="section-title section-title-highlight">Palestrantes</h2>

        <ul class="speakers-list">
            
          <li class="speaker-item">
            <div class="speaker-photo-container">
              <img
                lazy
                class="speaker-photo"
                src="https://pbs.twimg.com/profile_images/1557369824438898689/w8Igptui_400x400.jpg"
                alt=" Erick Wendel"
              />
            </div>
            <div class="speaker-info">
              <h3 class="speaker-name">
                Erick Wendel
              </h3>
              <a href="https://twitter.com/erickwendel_" class="speaker-twitter" target="_blank">@erickwendel_</a>
              <p class="speaker-bio">
                Erick Wendel é um palestrante profissional e tem se apresentado em mais de 10 países pelo mundo. Foi premiado com os Google Developer Expert, Microsoft MVP, GitHub Stars e OpenJS Path Educator, os maiores prêmios em área de software do mundo. Hoje Erick vive como instrutor em treinamentos online em sua própria empresa além de trabalhar como core commiter no projeto Node.js
              </p>
            </div>
          </li>
        <!--
        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/vanessa-metonini.jpg"
              alt="Vanessa Tonini"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Vanessa Tonini</h3>
            <a
              href="http://twitter.com/vanessametonini"
              class="speaker-twitter"
              target="_blank">@vanessametonini</a
            >
            <p class="speaker-bio">
              Instrutora na Caelum, desenvolvedora frontend e agile coach.
              Atua na área de desenvolvimento para Web há quase 10 anos, onde
              possui graduação em Sistemas Para Internet (UNIVALI), é
              especialista em Desenvolvimento Web (UTFPR) e MBA em Engenharia
              de Software Orientada a Serviços (FIAP). É uma das coordenadoras
              do coletivo hacker feminista Marialab, no qual organiza eventos,
              oficinas e palestras.
            </p>
          </div>
        </li>

        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/aline-bastos.jpg"
              alt="Aline Bastos"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Aline Bastos</h3>
            <a
              href="http://twitter.com/alinebastos"
              class="speaker-twitter"
              target="_blank">@alinebastos</a
            >
            <p class="speaker-bio">
              Mãe de uma menina linda (e super inteligente) de 10 anos.
              Mentora, moderadora, escritora e organizadora de encontros,
              tanto no Training Center, como na vida. Trabalha com
              desenvolvimento frontend há quase 8 anos, mas aprendeu como
              desenvolver sites pra ela, pra familia e pros amigos há 15 anos.
              Estuda Computer Science e tudo o que vê pela frente que seja
              relacionado com CSS e JavaScript. E fica louca se vê um pixel
              fora do lugar!
            </p>
          </div>
        </li>

        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/nathi-alves.jpg"
              alt="Nathi Alves"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Nathi Alves</h3>
            <a
              href="http://twitter.com/naathialves"
              class="speaker-twitter"
              target="_blank">@nathialves</a
            >
            <p class="speaker-bio">
              Designer, apaixonada por pesquisa e que acredita que a empatia
              leva todo mundo mais longe.
            </p>
          </div>
        </li>

        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/felipe-morais.jpg"
              alt="Felipe de Morais"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Felipe de Morais</h3>
            <a
              href="http://twitter.com/felipedemorais_"
              class="speaker-twitter"
              target="_blank">@felipedemorais_</a
            >
            <p class="speaker-bio">
              Desenvolvedor web apaixonado por tecnologias Python, front-end e
              no caso da Haskell no momento.
            </p>
          </div>
        </li>

        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/cesar-paz.jpg"
              alt="Cesar Paz"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Cesar Paz</h3>
            <a
              href="https://www.facebook.com/cesarpaz.ag2"
              class="speaker-twitter"
              target="_blank">@cesarpaz</a
            >
            <p class="speaker-bio">
              Engenheiro, fundador, ex-CEO e ex-presidente do Conselho de
              Administração da AG2, fundador e ex-presidente da Associação
              Brasileira de Agências Digitais (AbradiRS) em duas gestões.
              Presidente do Conselho de Administração da Seekr de Blumenau e
              também sócio e membro do Advisory Board das seguintes empresas:
              Alright, MPQuatro, Delta, Zeeng, DEx01, Minovelt e Delta. Foi
              eleito pela plataforma Proxxima um dos 10 profissionais mais
              inovadores do mercado brasileiro, em 2011. É professor do curso
              de Comunicação Digital da Unisinos e mestrando em Design
              Estratégico. Já trabalhou com estratégia digital para as
              principais marcas do mercado brasileiro incluindo Bradesco,
              Toyota, GM, Natura, Rio2016, Vale, Embraer, C&A, entre outras.
            </p>
          </div>
        </li>

        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/loiane-groner.jpg"
              alt="Loiane Groner"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Loiane Groner</h3>
            <a
              href="http://twitter.com/loiane"
              class="speaker-twitter"
              target="_blank">@loiane</a
            >
            <p>
              Possui 10+ anos de experiência em TI, trabalha como Analista de
              Sistemas e Desenvolvedora no Citibank, Microsoft MVP e Google
              Developer Expert em tecnologias web e ama compartilhar
              conhecimento! Já palestrou por vários eventos no Brasil e
              ministrou cursos nos Estados Unidos. Autora dos livros: Ext JS 4
              First Look, Mastering Ext JS (primeira e segunda edição), Sencha
              Architect App Development e Learning JavaScript Data Structures
              and Algorithms (primeira e segunda edição), JavaScript Regular
              Expressions - todos publicados pela editora Packt e lançados
              mundialmente em inglês (com tradução de alguns livros para
              chinês e coreano).
            </p>
          </div>
        </li>

        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/camilla-matins.png"
              alt="Camilla Martins"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Camilla Martins</h3>
            <a
              href="https://twitter.com/bayerndadepress"
              class="speaker-twitter"
              target="_blank">@bayerndadepress</a
            >
            <p class="speaker-bio">
              Paulista, santista e alucinada pelo Universo Marvel. Fundadora
              da iniciativa NodeGirls, uma entusiasta da comunidade e da força
              das mulheres. O que era só um site pro pai há 9 anos, virou
              minha profissão. Formada em ADS, trabalho como desenvolvedora
              full-stack na Umbler, faço uns freelas e abraço felinos nas
              horas vagas.
            </p>
          </div>
        </li>

        <li class="speaker-item">
          <div class="speaker-photo-container">
            <img
              class="speaker-photo"
              src="images/speakers/debora-duarte.jpeg"
              alt="Débora Duarte"
            />
          </div>
          <div class="speaker-info">
            <h3 class="speaker-name">Débora Duarte</h3>
            <a
              href="http://twitter.com/deboracardu"
              class="speaker-twitter"
              target="_blank">@deboracardu</a
            >
            <p class="speaker-bio">
              Dev lover, feminista e rata de eventos, formada em Técnico em
              Informática em 2013 pelo IFSul Campus Charqueadas, atuo hoje na
              área de Marketing Digital. Acabo de criar um canal no Youtube
              para falar na relação de Mkt Digital com Web Dev.
            </p>
          </div>
        </li>
        -->
        </ul>
    </div>
</section>
<style lang="scss">
  @import "../styles/helpers";
  @import "../styles/settings";
  @import "../styles/core/normalize";
  @import "../styles/core/layout";
  @import "../styles/partials/_sections.scss";
  @import "../styles/partials/_section_speakers.scss";
</style>