<section class="section section-supporters" id="patros">
    <div class="wrapper">
        <h2 class="section-title">Realização</h2>

        <ul class="partners-list" style="margin-bottom: 50px;">
            <li class="partner-item" itemtype="http://schema.org/Organization">
                <a
                    href="https://www.azion.com/pt-br/"
                    class="partner-link"
                    itemprop="url"
                    target="_blank">

                    <img
                        src="/images/patros/azion-logo.png"
                        alt="Azion Technologies"
                        class="partner-logo"
                        itemprop="image" />
                </a>
            </li>
            <li class="partner-item" itemtype="http://schema.org/Organization">
                <a
                    href="https://www.braziljs.org/"
                    class="partner-link"
                    itemprop="url"
                    target="_blank">

                    <img
                        src="/images/patros/brjs.png"
                        alt="BrazilJS"
                        class="partner-logo"
                        itemprop="image" />
                </a>
            </li>
            <li class="partner-item" itemtype="http://schema.org/Organization">
                <a
                    href="https://faculdadedombosco.net/pt/"
                    class="partner-link"
                    itemprop="url"
                    target="_blank">

                    <img
                        src="/images/patros/faculdade-dom-bosco-black.svg"
                        alt="Faculdade Dom Bosco"
                        class="partner-logo"
                        itemprop="image" />
                </a>
            </li>
        </ul>
    </div>

    <!--
    <h2 class="section-title">Apoio</h2>
    <ul class="partners-list">
      <li class="partner-item" itemtype="http://schema.org/Organization">
        <a
          href="http://portal.senacrs.com.br"
          class="partner-link"
          itemprop="url"
          target="_blank"
        >
          <img
            src="images/patros/logo_fecomercio_senac.png"
            alt="Senac"
            class="partner-logo"
            itemprop="image"
          />
        </a>
      </li>
      <li class="partner-item" itemtype="http://schema.org/Organization">
        <a
          href="http://braziljs.org"
          class="partner-link"
          itemprop="url"
          target="_blank"
        >
          <img
            src="images/patros/logo-braziljs.png"
            alt="Brazil JS"
            class="partner-logo"
            itemprop="image"
          />
        </a>
      </li>
      <li class="partner-item" itemtype="http://schema.org/Organization">
        <a
          href="http://portal.senacrs.com.br"
          class="partner-link"
          itemprop="url"
          target="_blank"
        >
          <img
            src="images/patros/faculdade_senac.png"
            alt="Senac"
            class="partner-logo"
            itemprop="image"
          />
        </a>
      </li>
      <li class="partner-item" itemtype="http://schema.org/Organization">
        <a
          href="http://www.abradirs.com.br/"
          class="partner-link"
          itemprop="url"
          target="_blank"
        >
          <img
            src="images/patros/abradirs.png"
            alt="Abradirs"
            class="partner-logo"
            itemprop="image"
          />
        </a>
      </li>
    </ul>
    -->

    <!-- BrazilJS snippet -->
    <!-- <div id='braziljs-widget-partners'></div> -->
    <!-- <script src='https://braziljs.org/js/widget.js'></script> -->
    <!--
          <script>
              BrazilJS.widget.load('partners', {
                  eventId: '56b4df8be6368eb42d1e7d05',
                  name: 'FrontInPoa',
                  theme: 'white',
                  container: document.getElementById('braziljs-widget-partners')
              });
          </script>
          -->
    <!-- end of BrazilJS snippet -->
</section>
<style lang="scss">
  @import "../styles/helpers";
  @import "../styles/settings";
  @import "../styles/core/normalize";
  @import "../styles/core/layout";
  @import "../styles/partials/_sections.scss";
  @import "../styles/partials/_section_sponsors.scss";
</style>